.col-md4
  %a.btn.btn-lg.btn-default{href:new_order_path}
    Create an order
  %a.btn.btn-lg.btn-default{href:""}
    Check stock
  %a.btn.btn-lg.btn-default{href:items_path}
    Configure items for sale
