.col-md4
  %a.btn.btn-lg.btn-default{href:new_order_path}
    Create an order
  %a.btn.btn-lg.btn-default{href:items_path}
    Configure menu items
  %a.btn.btn-lg.btn-default{href:stocks_path}
    Check stock
